.ContainerGeneralMatchResults{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.GeneralMatchResults{
    width: 460px;
    height: 900px;
    background-color: #0c153b;
    border-radius: 80px;
}

.containerMatchs{
    font-size: 40px;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.imageIcon{
    width: 100px;
    height: 100px;
}